.budget {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    margin: 3rem 0;
    &__title {
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    &__value {
        align-self: center;
        font-size: 3rem;
        font-weight: 400;
        margin: 2rem 0;
    }
    &__income {}
    &__expenses {}
}
