*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

.top{
    width: 100%;
    background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 40vh;
    display: flex;
    justify-content: center;
}
